<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>DODO Login</title>
    <link rel="stylesheet" href="../../../static/styles.css" type="text/css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&display=swap');
    </style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Kameron:wght@400..700&display=swap');
    </style>
    <!--    <script src="/re-dodo-scripting-1.0/dodo-home-script.js"></script>-->
</head>
<body>
<header th:replace="~{fragments :: headerNav}"></header>

<div class="new-user">
    <form method="post" action="/dodo/user/new">

        <div class="user-form">
            <label for="firstname" class="nameLable">First Name: </label>
            <br>
            <input type="text" id="firstname" name="firstname" required />
            <br>
            <label for="lastname" class="nameLable">Last Name: </label>
            <br>
            <input type="text" id="lastname" name="lastname" required />
        </div>

        <div class="user-form">
            <label for="location" class="locationLabel">Location: </label>
            <br>
            <input type="text" name="location" id="location" required/>
        </div>

        <div class="user-form">
            <label for="email" class="emailLabel">E-mail: </label>
            <br>
            <input type="text" name="email" id="email" required/>
        </div>

        <button type="submit" name="createProfile" value="create" class="createButton"> Create Profile </button>
    </form>
</div>

<footer th:replace="~{fragments :: footerNav}"></footer>
</body>
</html>