<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<header th:fragment="headerNav">
    <span class="headerSpan">WELCOME! To your Day Off, Day Out Adventure!</span>
    <nav>
        <!-- <div class="navdiv"> -->
        <ul class="navlist">
            <li><a href="/index" class="navlink">Home</a></li>
            <li><a href="/dodo/login" class="navlink">Login</a></li>
<!--            <li><a href="./usernest.html" class="navlink">Your Nest</a></li>-->
<!--            <li><a href="./newuser.html" class="navlink">New User</a></li>-->
<!--            <li><a href="./buildnest.html" class="navlink">New Profile</a></li>-->
<!--            <li><a href="./search.html" class="navlink"><button>GO DODO</button></a></li>-->
        </ul>
        <!-- </div> -->
    </nav>
</header>

<footer th:fragment="footerNav">
    <a href="/index" class="footer-link">Home</a>
    <a href="/dodo/login" class="footer-link">Login</a>
<!--    <a href="./usernest.html" class="footer-link">Your Nest</a>-->
<!--    <a href="./newuser.html" class="footer-link">New User</a>-->
<!--    <a href="./buildnest.html" class="footer-link">New Profile</a>-->
<!--    <a href="./search.html" class="footer-link">New DODO Adventure</a>-->
    <a href="./sitemap.html" class="footer-link">Sitemap</a>
</footer>
</body>
</html>