<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Your Day Off, Day Out Home</title>
    <link rel="stylesheet" th:href="@{styles.css}" type="text/css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&display=swap');
    </style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Kameron:wght@400..700&display=swap');
    </style>
<!--    <script src="/re-dodo-scripting-1.0/dodo-home-script.js"></script>-->
</head>
<body>
<header th:replace="~{fragments :: headerNav}">
</header>
<div class="mini-head">
    <div class="mini-head-welcome-text">
        <h2 class="howToEnjoy">How to enjoy your DODO: </h2>
    </div>
</div>
<div class="explainer-container">
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        1. Login or create a free DODO user profile.
    </div>
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        2. Select your DODO Adventure interests, preferences, and location.

    </div>
    <div class="explainer-text">
        <div class="explainer-viz"></div>
        3. Get a personalized Day Off/Day Out plan just for you!
    </div>
    <div class="loginButtonDiv">
        <label class="enterText">Login -- > </label>
        <button type="submit" class="enterButton" id="enterSite" formaction="users/login" value="Enter">Enter</button>
    </div>
<!--    <div class="example-container">-->
<!--        <div class="example-dodo">Example itinerary here-->
<!--        </div>-->
<!--        <div class="example-map">Example map here-->
<!--        </div>-->
<!--    </div>-->
</div>
<!--<div class="re-enter">-->
<!--    <label class="re-enterText">Start Your DODO Here &#45;&#45; > </label>-->
<!--    <input type="button" class="re-enterButton" id="enterSite2" value="Enter"></input>-->
<!--</div>-->
<br>
<footer th:replace="~{fragments :: footerNav}">
<!--    <a href="index.html" class="footer-link">Home</a>-->
<!--    <a href="./login.html" class="footer-link">Login Page</a>-->
<!--    <a href="./usernest.html" class="footer-link">Your Nest</a>-->
<!--    <a href="./newuser.html" class="footer-link">New User</a>-->
<!--    <a href="./buildnest.html" class="footer-link">New Profile</a>-->
<!--    <a href="./search.html" class="footer-link">New DODO Adventure</a>-->
<!--    <a href="./sitemap.html" class="footer-link">Sitemap</a>-->
</footer>

</body>
</html>